TELEGRAM_BOT_TOKEN=8685645915:AAF2t2en9eXi2IMcmk4Q7XprEdwJm5eXvYs
MONGO_URI=mongodb+srv://Christus:voldigo225@cluster0.hphrncx.mongodb.net/?appName=Cluster0
ADMIN_TELEGRAM_ID=8294554523
ADMIN_NAME=Itz Christus 
ADMIN_USERNAME=@Christus225
ADMIN_WHATSAPP=2250546841168
BOT_USERNAME=@Nanztudllvjlf_bot
AI_API_KEY=
